<div *ngIf="player">
  <div class="positionDuTableau">
    <!-- pour afficher le nom du joueur si connecter -->
    <table>
      <tr class="tableau">
        <th>Pseudo</th>
        <th>Score</th>
        <th>Gain par seconde</th>
        <th>Nombre de click</th>
      </tr>
      <tr class="tableau">
        <td>{{ player.nom_pseudo }}</td>
        <td>{{ player.num_score }}</td>
        <td>{{ totalInc }}</td>
        <td>{{ player.num_click }}</td>
      </tr>
    </table>

    <!-- ajout du compteur de click sur la page -->

    <!-- ajout de la méthode d'incrémentation par click -->
    <!-- ajout de la méthode de changement d'image -->
    <div class="container">
      <div class="containerPair">
        <ng-container
          *ngFor="let upgrade of upgrades; let isPair = even; let i = index"
        >
          <div
            (click)="gestionClic(upgrade)"
            *ngIf="isPair"
            class="pair{{ i }} baseUpgradePair display"
          >
            <p>Prix :{{ upgrade.num_cost }}</p>
            <p class="reduct">+{{ upgrade.num_value }}/sc</p>
          </div>
        </ng-container>
      </div>
      <div>
        <audio *ngIf="maValeurDeProfilSon === true" id="audioElement">
          <source
            src="../../../assets/son/SWSH_Whoosh 4 (ID 1796)_LS.mp3"
            type="audio/mpeg"
          />
          Votre navigateur ne supporte pas l'élément audio.
        </audio>
      </div>
      <img
        [src]="selectImg[imageIndex]"
        (click)="incrementalZone()"
        alt="Description de l'image"
      />

      <div class="containerImpair">
        <ng-container
          *ngFor="let upgrade of upgrades; let isPair = even; let i = index"
        >
          <div
            (click)="gestionClic(upgrade)"
            *ngIf="!isPair"
            class="impair{{ i }} baseUpgradeImpair display"
          >
            <p>Prix :{{ upgrade.num_cost }}</p>
            <p class="reduct">+{{ upgrade.num_value }}/sc</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-connexion *ngIf="!player"></app-connexion>
