/* mise en page de l'img */
img {
  height: calc(100vh - 18vh);
  width: 60vw;
  border: 1px solid black;
  cursor: pointer;
}
.flexBox {
  display: flex;
  flex-direction: column;
}
/* mise en page du h1n  */
.positionDuTableau {
  background-color: black;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
table {
  border-collapse: collapse;
}
.tableau {
  display: flex;
  height: 5vh;
}

th,
td {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  border: 1px solid rgb(142, 142, 142);
}

.container {
  cursor: pointer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerImpair {
  width: calc((100vw - 60vw) / 2);
}
.containerPair {
  width: calc((100vw - 60vw) / 2);
}

.baseUpgradePair {
  border-radius: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16.6vh;
  background-color: #f6ac00;
}

.baseUpgradeImpair {
  border-radius: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16.6vh;
  background-color: #f6ac00;
}

/* gauche upgrade */
.pair0 {
  border: 1px solid black;
  top: calc(100vh - 16.6vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  transition: width 0.8s;
  right: 0;
  border-radius: 2rem 0rem;
}

.pair0:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}
.pair6 {
  border: 1px solid black;
  top: calc(100vh - 65.6vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  left: 0;
  transition: width 0.8s;
}

.pair6:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}

.impair5 {
  border-radius: 0rem 2rem;
  border: 1px solid black;
  top: calc(100vh - 49.2vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  transition: width 0.8s;
  left: 0;
}

.impair5:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}
.pair4 {
  border: 1px solid black;
  top: calc(100vh - 32.9vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  transition: width 0.8s;
  right: 0;
  border-radius: 2rem 0rem;
}
.pair4:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}

.pair2 {
  border: 1px solid black;
  top: calc(100vh - 32.9vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  transition: width 0.8s;
  left: 0;
}
.pair2:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}
/* pair */
.impair1 {
  border: 1px solid black;
  top: calc(100vh - 82vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  left: 0;
  transition: width 0.8s;
  border-radius: 0rem 2rem;
}

.impair1:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}
.impair7 {
  border: 1px solid black;
  top: calc(100vh - 16.6vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  left: 0;
  transition: width 0.8s;
  border-radius: 0rem 2rem;
}

.impair7:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}

/* ------- ici impair */
.impair3 {
  border: 1px solid black;
  top: calc(100vh - 82vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  transition: width 0.8s;
  right: 0;
}

.impair3:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}
.impair9 {
  border: 1px solid black;
  top: calc(100vh - 65.6vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  right: 0;
  transition: width 0.8s;
}

.impair9:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}

.pair8 {
  border-radius: 2rem 0rem;
  border: 1px solid black;
  top: calc(100vh - 49.2vh);
  width: calc((100vw - 60vw) / 2);
  position: absolute;
  right: 0;
  transition: width 0.8s;
}

.pair8:hover {
  border: 1px solid black;
  font-size: large;
  width: calc((100vw - 70vw));
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0rem 0rem 0.1rem 0.1rem;
}

.display {
  display: flex;
  flex-direction: column;
}
.reduct {
  font-style: italic;
  font-size: x-small;
}
