<div>
  <!-- if login pour switch entre connexion ou inscription -->
  <div class="modal" *ngIf="login">
    <div class="modal-content">
      <!-- methode on login sur le bouton submit -->
      <form [formGroup]="connexion" (ngSubmit)="onLogin()">
        <h1 class="titre">Click and Train</h1>
        <h2>Connexion</h2>
        <div class="Formul">
          <label for="nom_pseudo1">Nom d'utilisateur:</label>
          <input
            type="text"
            id="nom_pseudo1"
            name="nom_pseudo1"
            formControlName="nom_pseudo"
            placeholder="Pseudo"
            (focus)="enleverErreur('nom_pseudo1')"
          />
          <div class="message">{{ pseudoError1 }}</div>
        </div>
        <div class="Formul">
          <label for="nom_password1">mot de passe:</label>
          <input
            type="password"
            id="nom_password1"
            name="nom_password1"
            formControlName="nom_password"
            placeholder="Mot de passe"
            (focus)="enleverErreur('nom_password1')"
          />
          <div class="message">{{ motDePasseError1 }}</div>
        </div>
        <div class="buttonPosition">
          <!-- methode au click pour transmettre la valeur boolean pour femer la fenetre -->
          <!-- <button (click)="transmettreValeur()">Fermer</button> -->
          <button type="submit">Connexion</button>
        </div>
        <div class="positionSwitch">
          <!-- methode switch pour switch entre log et register -->
          <button class="switch" (click)="switchLog()">
            Pas encore inscrit ?
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- if registred pour switch entre connexion ou inscription -->
  <div class="modal" *ngIf="registred">
    <div class="modal-content">
      <span class="close"></span>
      <!-- methode au click pour l'inscription -->
      <form [formGroup]="inscription" (ngSubmit)="onInscription()">
        <h1 class="titre">Click and Train</h1>
        <h2>Inscription</h2>
        <div class="Formul">
          <label for="nom_pseudo">Nom d'utilisateur:</label>
          <input
            type="text"
            id="nom_pseudo"
            name="nom_pseudo"
            formControlName="nom_pseudo"
            placeholder="Pseudo"
            (focus)="enleverErreur('nom_pseudo')"
          />
          <div class="message">{{ pseudoError }}</div>
        </div>
        <div class="Formul">
          <label for="nom_email">nom_email:</label>
          <input
            type="nom_email"
            id="nom_email"
            name="nom_email"
            formControlName="nom_email"
            placeholder="example@email.fr"
            (focus)="enleverErreur('nom_email')"
          />
          <div class="message">{{ emailError }}</div>
        </div>
        <div class="Formul">
          <label for="nom_password">mot de passe:</label>
          <input
            type="password"
            id="nom_password"
            name="nom_password"
            formControlName="nom_password"
            placeholder="Mot de passe"
            (focus)="enleverErreur('nom_password')"
          />
          <div class="message">{{ motDePasseError }}</div>
        </div>

        <div class="buttonPosition">
          <button type="submit">Connexion</button>
        </div>
        <div class="positionSwitch">
          <!-- methode switch pour connexion/inscritpion -->
          <button class="switch" (click)="switchLog()">Déja inscrit ?</button>
        </div>
      </form>
    </div>
    <div></div>
  </div>
</div>
