<div class="navbar">
  <a (click)="openModalClassement()">Classement</a>
  <!-- methode ou click pour open modal profil -->
  <a (click)="openModalProfil()">Profil</a>
  <a *ngIf="player" (click)="deconnexion()">deconnexion</a>
</div>

<!-- dans ma methode retourdeprofil je recupere la valeur de valuemodal profil pour fermer la modal  -->
<!-- ngif pour cacher/montrer la modal -->
<app-profil
  (sonSelectionne)="infoPourJeuDuSon($event)"
  (animSelectionne)="infoPourJeuDeAnim($event)"
  (valueModalProfil)="retourDeProfil($event)"
  *ngIf="hideProfilModal"
></app-profil>
<!-- dans ma methode retourdeLogin je recupere la valeur de valuemodal Log pour fermer la modal  -->
<!-- ngif pour cacher/montrer la modal -->
<app-connexion
  (valueModalLog)="retourDeLogin($event)"
  *ngIf="hideLogModal"
></app-connexion>

<app-classement
  (valueClassementProfil)="retourDeClassement($event)"
  *ngIf="hideClassementModal"
></app-classement>

<!-- <app-jeu></app-jeu> -->
<!-- [maValeurDeProfilSon]="valeurPourJeuDuSon" -->
<!-- [maValeurDeProfilAnim]="valeurPourJeuDeAnim" -->
