/* préparation des couleurs prévu pour la navbar */
:root {
  --colorA: #00ffff;
  --colorB: #0000ff;
  --colorC: #ff0000;
  --colorD: #ffff00;
}

/* flex box + alignement + padding de la nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background-color: rgb(0, 0, 0);

  width: 100vw;

  border-bottom: rgb(154, 154, 154) solid 1px;
  overflow-y: none;
}

/* retrait des décoration sur les liens + largeur des liens de 20% par rapport au block Navbar */
a {
  text-align: center;
  width: 33vw;
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;

  overflow-y: none;
}

a:hover {
  width: 32vw;
  color: #f6ac00;
  transform: scale(1.1);
  overflow-y: none;
}
@media only screen and (max-width: 650px), (max-height: 500px) {
  * {
    font-size: 13px;
  }
}
