/* préparation des couleurs prévu pour la navbar */
:root {
  --colorA: #00ffff;
  --colorB: #0000ff;
  --colorC: #ff0000;
  --colorD: #ffff00;
}

/* flex box + alignement + padding de la nav bar */
.navbar {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: black;
}

/* retrait des décoration sur les liens + largeur des liens de 20% par rapport au block Navbar */
a {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: 900;
  cursor: pointer;
}
