<div class="modal">
  <div class="modal-content">
    <div class="tableauPosition">
      <table *ngIf="player">
        <tr>
          <th>Pseudo</th>
          <td>{{ player.nom_pseudo }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ player.nom_email }}</td>
        </tr>
      </table>
    </div>
    <div>
      <div *ngFor="let unParam of param; let i = index">
        <!-- avec i je dois creer un tableau de méthode -->
        <div class="selection">
          <p class="name">{{ unParam.nom_label }}</p>
          <label
            [ngClass]="{ test: player.enable[i].boo_status === true }"
            class="btnProfilLeft"
            for="{{ unParam.nom_label }}"
            >ON {{ i }}</label
          >
          <!-- [ngClass]="son ? 'paramActif + i' : 'paramDesactif + i'" -->

          <input
            (change)="choixUser[i].methode($event, unParam)"
            type="radio"
            id="{{ unParam.nom_label }}"
            name="{{ unParam.nom_label }}"
            [value]="true"
          />
          <!-- [ngClass]="{
            'yourTrueClass':  === true,
            'yourFalseClass':  === false || undefined
          }" -->
          <label
            [ngClass]="{ test1: player.enable[i].boo_status === false }"
            class="btnProfilRight"
            for="{{ unParam.nom_label + i }}"
          >
            OFF, {{ i }}
          </label>
          <input
            (change)="choixUser[i].methode($event, unParam)"
            type="radio"
            id="{{ unParam.nom_label + i }}"
            name="{{ unParam.nom_label }}"
            [value]="false"
          />
        </div>
      </div>
    </div>
    <div>
      <button (click)="transmettreValeurProfil()">Fermer</button>
      <button type="button" (click)="suppressionDuJoueur()">
        Suppression du compte
      </button>
    </div>
  </div>
</div>
