<div class="modal">
  <div class="modal-content">
    <div class="bouton">
      <button (click)="deconnexion()">Deconnexion</button>
    </div>
    <h2>Profil</h2>
    <div class="tableauPosition">
      <table border="1" *ngIf="player">
        <tr>
          <th>Pseudo</th>
          <td>{{ player.nom_pseudo }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ player.nom_email }}</td>
        </tr>
        <tr>
          <th>Score</th>
          <td>{{ player.num_score }}</td>
        </tr>

        <!-- <tr>
          <td>{{ player.nom_pseudo }}</td>
          <td>{{ player.nom_email }}</td>
          <td>{{ player.num_score }}</td>
        </tr> -->
      </table>
    </div>
    <div *ngFor="let unParam of param">
      <!-- <div>{{ unParam.nom_label }}</div> -->
      <div *ngIf="unParam">
        <label for=""></label>
        <input type="radio" id="" />
        <input type="radio" id="" />
      </div>
    </div>

    <div>
      <button (click)="transmettreValeurProfil()">Fermer</button>
    </div>
  </div>
</div>
