<div class="modal">
  <div class="modal-content">
    <div class="tableauPosition">
      <table *ngIf="player">
        <tr>
          <th>Pseudo</th>
          <td>{{ player.nom_pseudo }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ player.nom_email }}</td>
        </tr>
      </table>
    </div>
    <div>
      <div *ngFor="let unParam of param; let i = index">
        <!-- avec i je dois creer un tableau de méthode -->
        <div class="selection">
          <div class="nameposition">
            <p class="name">{{ unParam.nom_label }}</p>
          </div>
          <div class="onOff">
            <label
              [ngClass]="{
                green:
                  getBooStatusParam(unParam.id_param) === true ||
                  undefined ||
                  null
              }"
              class="btnProfilLeft"
              for="{{ unParam.nom_label }}"
              >ON
            </label>
            <!--  -->
            <!-- [ngClass]="son ? 'paramActif + i' : 'paramDesactif + i'" -->

            <input
              (change)="choixUser[i].methode($event, unParam)"
              type="radio"
              id="{{ unParam.nom_label }}"
              name="{{ unParam.nom_label }}"
              [value]="true"
              [checked]="
                getBooStatusParam(unParam.id_param) === true ||
                undefined ||
                null
              "
            />

            <!-- [ngClass]="{ test1: player.enable[i].boo_status === false }" -->
            <label
              [ngClass]="{
                red: getBooStatusParam(unParam.id_param) === false
              }"
              class="btnProfilRight"
              for="{{ unParam.nom_label + [i + 10] }}"
              >OFF
            </label>
            <!-- OFF, {{ unParam.nom_label + [i + 10] }} -->
            <input
              (change)="choixUser[i].methode($event, unParam)"
              type="radio"
              id="{{ unParam.nom_label + [i + 10] }}"
              name="{{ unParam.nom_label }}"
              [value]="false"
              [checked]="getBooStatusParam(unParam.id_param) === false"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="bouton">
      <button (click)="transmettreValeurProfil()">Fermer</button>
      <button type="button" (click)="suppressionDuJoueur()">Suppression</button>
    </div>
  </div>
</div>
