.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  font-size: x-large;
  font-weight: 500;
  border-radius: 2rem;
  background-color: hsl(187, 20%, 80%);
  margin: 15vw auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50vw;
  position: fixed;
}
.tableauPosition {
  display: flex;
  justify-content: center;
}
table {
  width: 40vw;
}

tr {
  display: flex;
}

td {
  width: 50%;
  text-align: center;
}
th {
  width: 50%;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}
button {
  margin-top: 5rem;
  width: 15vw;
}
